<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One-Bedroom Apartment</title>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
<div class="grey-fon">
    <a href="/contact-us" class="contact-us">Contact Us</a>
    <a href="/general" class="general">General Information</a>
    <h1 class="stick1">|</h1>
</div>

<div class="menu">
    <a href="/one-apartment" class="one-apartments">One-Bedroom Apartments</a>
    <a href="/two-apartment" class="two-apartments">Two-Bedroom Apartments</a>
    <a href="/parking" class="parking">Parking</a>
    <a href="/video-tour" class="video-tour">Video-tour</a>
    <h1 class="one-apar-title">One-Bedroom Apartments</h1>
</div>



<h1 class="s-1-fir-apar">44,3 m²</h1>
<h1 class="price-fir-apar">€115,180</h1>
<h1 class="flour-1-one">2nd</h1>

<h1 class="s-1-fir-apar2">46,3 m²</h1>
<h1 class="price-fir-apar2">€120,380</h1>
<h1 class="flour-1-one2">2nd</h1>

<div class="grey-line-one-apar-sec">

</div>
<h1 class="s-1-fir-apar3">46,2 m²</h1>
<h1 class="price-fir-apar3">€120,120</h1>
<h1 class="flour-1-one3">3rd</h1>

<div class="grey-line-one-apar-thir">

</div>

<div class="grey-line-one-apar4">

</div>

<h1 class="s-1-fir-apar4">48,5 m²</h1>
<h1 class="price-fir-apar4">€126,100</h1>
<h1 class="flour-1-one4">4th</h1>

<h1 class="total-area-1">Total Area</h1>
<h1 class="cost-1">Cost</h1>
<h1 class="flour-1">Floor</h1>

<div class="grey-line-descrip-1-1">

</div>

<h1 class="descrip-undertext-1">Description</h1>
<h1 class="descrip-text-1-1">Entry hallway, bathroom, bedroom, living room/kitchen/dining area, terrace (shared between the bedroom and living room)</h1>
<h1 class="descrip-text-2-1">Entry hallway, bathroom, bedroom, living room/kitchen/dining area, terrace (shared between the bedroom and living room)</h1>
<h1 class="descrip-text-3-1">Entry hallway, bathroom, bedroom, living room/kitchen/dining area, terrace (shared between the bedroom and living room)</h1>
<h1 class="descrip-text-4-1">Entry hallway, bathroom, living room/kitchen/dining area with a terrace, bedroom</h1>


<div class="links-one-apar">
    <a href="/see-fotos-1-1" class="see-1-1">see photos</a>
    <a href="/see-fotos-2-1" class="see-2-1">see photos</a>
    <a href="/see-fotos-3-1" class="see-3-1">see photos</a>
    <a href="/see-fotos-4-1" class="see-4-1">see photos</a>
</div>

</body>
</html>