<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parking</title>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
<div class="grey-fon">
    <a href="/contact-us" class="contact-us">Contact Us</a>
    <a href="/general" class="general">General Information</a>
    <h1 class="stick1">|</h1>
</div>

<div class="menu">
    <a href="/one-apartment" class="one-apartments">One-Bedroom Apartments</a>
    <a href="/two-apartment" class="two-apartments">Two-Bedroom Apartments</a>
    <a href="/parking" class="parking">Parking</a>
    <a href="/video-tour" class="video-tour">Video-tour</a>
</div>

<img class="fir-park-foto" src="/static/img/garage.jpg">
<img class="sec-park-foto" src="/static/img/фото8.jpg">

<h1 class="price-park">Parking space price: €15,000</h1>
</body>
</html>