<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Two-Bedroom Apartments</title>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
<div class="grey-fon">
    <a href="/contact-us" class="contact-us">Contact Us</a>
    <a href="/general" class="general">General Information</a>
    <h1 class="stick1">|</h1>
</div>

<div class="menu">
    <a href="/one-apartment" class="one-apartments">One-Bedroom Apartments</a>
    <a href="/two-apartment" class="two-apartments">Two-Bedroom Apartments</a>
    <a href="/parking" class="parking">Parking</a>
    <a href="/video-tour" class="video-tour">Video-tour</a>
    <h1 class="two-apar-title">Two-Bedroom Apartments</h1>
</div>

</div>



<h1 class="s-1-sec-apar">79,1 m²</h1>
<h1 class="price-sec-apar">€205,660</h1>
<h1 class="flour-2-one">2nd</h1>

<h1 class="s-1-fir-apar2">72 m²</h1>
<h1 class="price-sec-apar2">€187,200</h1>
<h1 class="flour-1-one2">3rd</h1>

<div class="grey-line-one-apar-sec">

</div>
<h1 class="s-1-fir-apar3">63,4 m²</h1>
<h1 class="price-sec-apar3">€164,840</h1>
<h1 class="flour-1-one3">4th</h1>

<div class="grey-line-one-apar-thir">

</div>


<h1 class="total-area-2">Total Area</h1>
<h1 class="cost-2">Cost</h1>
<h1 class="flour-2">Floor</h1>

<div class="grey-line-descrip-1-2">

</div>

<h1 class="descrip-undertext-2">Description</h1>
<h1 class="descrip-text-2-2">Entry hallway, toilet, separate kitchen, living room/dining area. From the entry hallway, there is access to another hallway leading to Bedroom 1, bathroom, and Bedroom 2, which shares a terrace with the living room</h1>
<h1 class="descrip-text-3-2">Entry hallway, toilet, living room/dining area/kitchen with a terrace. From the entry hallway, there is access to another hallway leading to the bathroom, Bedroom 1, and Bedroom 2 (the bedrooms share a terrace)</h1>
<h1 class="descrip-text-4-2">Entry hallway, toilet, living room/kitchen/dining area with a terrace, separate hallway leading to the sleeping area, bathroom, Bedroom 1, and Bedroom 2 with a terrace.</h1>



<div class="links-one-apar">
    <a href="/see-fotos-1-2" class="see-1-2">see photos</a>
    <a href="/see-fotos-2-2" class="see-2-2">see photos</a>
    <a href="/see-fotos-3-2" class="see-3-2">see photos</a>
</div>

</body>
</html>